* {
  font-size: 17px;
  line-height: 150%;
}

a {
  cursor: pointer;
}

a:hover {
  color: blue;
}

button {
  cursor: pointer;
}

button:hover {
  color: blue;
}

h1 {
  font-size: 30px;
}

body {
  padding: 20px 50px;
}

/* accessible buttons */
.accessible-buttons {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.accessible-buttons button {
  margin-right: 7px;
  border-radius: 10px;
  padding: 5px 10px;
}

/* header */
header img {
  height: 100px;
  width: 170px;
}

header {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

header .logo {
  display: flex;
}

header .logo .title {
  margin-top: 25px;
}

header .number-donate button {
  padding: 5px;
  border-radius: 10px;
}

header .number-donate button:hover {
  color: blue;
}

/* nav */
nav {
  border-bottom: 1px solid black;
  padding: 10px 0px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  list-style: none;
}

nav ul li button {
  border: none;
  background-color: transparent;
}

/* carousel */
.carousel {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.carousel .slide-image .image-slide {
  width: 50%;
  padding-right: 100px;
}

.carousel .slide .slide-image img {
  width: 400px;
  height: 350px;
  padding: 7px;
}

.carousel .slide .slide-image {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.carousel .slide .slide-image .image-slide-description {
  padding-left: 100px;
}

/* logo section */
.logo-section {
  margin-top: 10px;
  padding: 20px;
  border-bottom: 1px solid black;
}

.logo-section i {
  font-size: 3em;
}

.logo-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.logo-section div {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
}

.logo-section div .icons {
  margin-right: 10px;
  margin-top: 4px;
}

.logo-section p {
  margin-bottom: 20px;
}

/* video-middlesection   */

.what-we-do .title-whatwedo {
  padding-left: 20px;
}
.video-caption {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.video-caption .youtube {
  border-right: 1px solid black;
  margin-right: 10px;
}

.video-caption article {
  margin-left: 10px;
}

/* recent news */
.recent-news {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.recent-news .news-cards {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
}

.recent-news .news-cards .newsCard {
  width: 30%;
  background-color: lightgray;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}

.recent-news h1 {
  padding-left: 40px;
}

/* final section */
.final-section {
  padding: 20px;
  border-bottom: 1px solid black;
  display: flex;
}

.final .final-title {
  padding-left: 20px;
}

.final-section .final-section-card {
  border-right: 1px solid black;
  padding-right: 20px;
}

.final-section .final-section-card button {
  margin-top: 70px;
  border-radius: 5px;
  padding: 5px 10px;
}

.final-section .final-section-card button:hover {
  color: blue;
}

.final-section .final-section-card2 {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}

.final-section .final-section-card2 img {
  margin-right: 10px;
  margin-top: 10px;
  width: 300px;
  height: 250px;
}

.final-section .final-section-card2 button {
  border-radius: 5px;
  padding: 7px;
  margin-left: 250px;
}

.final-section .final-section-card2 button:hover {
  color: blue;
}

/* footer */
footer {
  width: 100%;
  color: white;
  background-color: black;
  padding-bottom: 7px;
}

.footer footer .signature-and-socials {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer footer .signature-and-socials .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer footer .signature-and-socials .socials button {
  border: none;
  background-color: transparent;
}

.footer footer .signature-and-socials .socials button a {
  text-decoration: none;
  color: white;
}

.footer footer .signature-and-socials .socials button a:hover {
  color: yellow;
}

.footer footer .address {
  text-align: center;
}

.signature-and-socials .signature {
  font-size: 12px;
}

footer .address #email a {
  color: white;
  text-decoration: none;
}

footer .address #email a:hover {
  color: yellow;
}

/* phone size */
@media (max-width: 600px) {
  * {
    padding: none;
  }

  h1 {
    font-size: 25px;
  }

  body {
    padding: 10px;
    margin: 0px;
  }
  /* header */
  header {
    display: flex;
    flex-direction: column;
  }

  header .logo .title {
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
  }

  header .number-donate {
    display: none;
  }

  /* nav */

  nav {
    display: none;
  }

  /* carousel */
  .carousel .slide .slide-image {
    display: grid;
    grid-template-columns: 1fr;
  }

  .carousel .slide .slide-image .image-slide-description {
    padding-left: 0px;
  }

  .carousel .slide .slide-image img {
    width: 100%;
    padding: 0%;
  }

  /* logo-section */
  .logo-section {
    display: flex;
  }

  .logo-section div {
    padding: 0px;
    margin-bottom: 1px;
  }

  /* video caption */
  .video-caption {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0px;
    padding-top: 10px;
  }
  .video-caption .youtube {
    border-bottom: 1px solid black;
    border-right: none;
  }

  .video-caption .youtube iframe {
    width: 100%;
    height: 300px;
  }

  /* recent news */
  .recent-news {
    border-top: 1px solid black;
  }
  .recent-news .news-cards {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .recent-news .news-cards .newsCard {
    width: 100%;
    margin-bottom: 10px;
  }

  /* final section */
  .final-section {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-bottom: none;
  }

  .final-section .final-section-card {
    border: none;
    padding-left: 25px;
  }

  .final-section .final-section-card button {
    padding: 4px;
  }

  .final-section .final-section-card2 button {
    padding: 4px;
  }

  .final-section .final-section-card2 {
    display: flex;
    flex-direction: column;
  }

  .final-section .final-section-card2 img {
    width: 100%;
    height: 350px;
  }

  .final-section .final-section-card2 button {
    margin-left: 0px;
  }

  .footer footer .signature-and-socials .socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* footer */
  .footer {
    margin-top: 10px;
  }
  .footer footer .signature-and-socials {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer footer .signature-and-socials .socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer footer .signature-and-socials .socials button a {
    font-size: 12px;
  }

  .footer footer .address p {
    font-size: 12px;
  }
  .footer footer .address span a {
    font-size: 12px;
  }
}

/* hover chatbubble */
